@model List<MvcMovie.Models.Movie>
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

<div class="row">
    <div class="col-md-12">
        <h3 class="text-center">Productos</h3>
        <hr>
    </div>
    @foreach (var item in Model)
    {
        <div class="col-md-3">
            <div class="card card-product mb-3">
                <div class=" d-flex flex-row-reverse bd-highlight">
                    @if((await AuthorizationService.AuthorizeAsync(User, "Required")).Succeeded){
                        <button  onclick="deleteMovie(@item.Id)" type="button" class="mr-2 close p-2 bd-highlight" data-dismiss="toast" aria-label="Close">
                            <span style="color: red;" aria-hidden="true">&times;</span>
                        </button>
                        <a style="color: green; font-size:15px;" href="/Movie/Edit/@item.Id" class="btn bg-transparent"><i class="fas fa-wrench"></i></a>
                    }
                    
                     
                </div>
                <img src="@item.Poster" class="card-img-top" alt="" width="250px" height="250px">
                <div class="card-body">
                    <h5 class="card-title">@item.Title</h5>
                    <p class="card-text">@item.Plot</p>
                    <p class="card-text"><small class="text-muted">@item.Released</small></p>
                    <a href="/Movie/Details/@item.Id" class="btn btn-primary">Ver Mas</a>
                    <a href="#" onclick="loadComent(@item.Id, event)" class="btn btn-warning"><small><i class="fas fa-comment-dots"></i></small></a>
                </div>
            </div>
        </div>
    }
</div>

@section Anuncio{
    <div class="">
        <form action="/Movie/Find" method="POST" class="form-inline d-flex justify-content-end">
            <div class="form-group ">
                <!--<label class="mr-3">Buscar Producto</label>-->
                @if((await AuthorizationService.AuthorizeAsync(User, "Required")).Succeeded){
                    <a asp-controller="Movie" asp-action="Add" class="btn btn-danger"><i class="fas fa-notes-medical"></i></a>        
                }
                @if((await AuthorizationService.AuthorizeAsync(User, "Editores")).Succeeded){
                    <a asp-controller="Movie" asp-action="Add" class="btn btn-danger"><i class="fas fa-notes-medical"></i></a>        
                }
                
                <input type="text" class="form-control ml-3" placeholder="Buscar Producto" required minlength="1" name="movie2">
            </div>
            <button type="submit" class="btn btn-primary mt-1 mb-1 ml-2"><i class="fas fa-search"></i></button>
        </form>
        <hr>
        <h3>Información COVID-19</h3>
        <hr>
        <div class="list-group">
            <a target="_blank" href="https://www.eleconomista.es/actualidad/noticias/11388850/09/21/Cesar-Carballo-explica-por-que-siguen-muriendo-tantas-personas-de-Covid19.html" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">César Carballo explica por qué siguen muriendo tantas personas de Covid-19</h5>
                <small> Madrid 13/09/2021</small>
                </div>
                <p class="mb-1">La estrategia de vacunación española ya ha superado el 70% de la población española y camina hacia el 90%...</p>
                <small>Fuente: elEconomista </small>
            </a>
            <a target="_blank" href="https://www.el19digital.com/articulos/ver/titulo:120523-vacunacion-voluntaria-contra-covid-19-sigue-sumando-protagonistas-en-managua" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Vacunación voluntaria contra Covid-19 sigue sumando protagonistas en Managua</h5>
                <small class="text-muted">Managua 13/09/2021</small>
                </div>
                <p class="mb-1">La intensa campaña de vacunación voluntaria contra la Covid-19 siguió realizándose en la capital con la aplicación de la segunda dosis de Spunitk V...</p>
                <small class="text-muted">Fuente: El 19 Digital</small>
            </a>
            <a target="_blank" href="https://www.nytimes.com/es/2021/08/18/espanol/cuba-coronavirus.html" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">‘Ingresan para morir’: el coronavirus muestra las fallas del sistema de salud cubano</h5>
                <small class="text-muted"> EE.UU. 18/08/2021</small>
                </div>
                <p class="mb-1">Después de la contingencia del coronavirus en 2020, Cuba ha sido devastada por la variante delta, que es altamente contagiosa y ha aumentado las...</p>
                <small class="text-muted">Fuente: The New York Times</small>
            </a>
            <img src="https://coronavirus.gob.mx/wp-content/uploads/2020/04/Banner-QuedateCasa.png" alt="">
        </div>
    </div>
}

@section AnuncioInferior{
    <h3><i class="fas fa-search-location"></i> Nuestras Sucursales en todo El Pais</h3>
    <div class="row">
        <div class="col-4">
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active d-flex justify-content-between" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">
                    <strong>Chinandega</strong>
                    <img loading="lazy" class="lazy alignnone wp-image-228 lazy-loaded" src="https://farmavalue.biz/nicaragua/wp-content/uploads/sites/22/2019/06/marker-icon.png" data-lazy-type="image" data-lazy-src="https://farmavalue.biz/nicaragua/wp-content/uploads/sites/22/2019/06/marker-icon.png" alt="" width="22" height="30">
                </a>
                <a class="list-group-item list-group-item-action d-flex justify-content-between" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">
                    <strong>Masaya</strong>
                    <img loading="lazy" class="lazy alignnone wp-image-228 lazy-loaded" src="https://farmavalue.biz/nicaragua/wp-content/uploads/sites/22/2019/06/marker-icon.png" data-lazy-type="image" data-lazy-src="https://farmavalue.biz/nicaragua/wp-content/uploads/sites/22/2019/06/marker-icon.png" alt="" width="22" height="30">
                </a>
                <a class="list-group-item list-group-item-action d-flex justify-content-between" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">
                    <strong>León</strong>
                    <img loading="lazy" class="lazy alignnone wp-image-228 lazy-loaded" src="https://farmavalue.biz/nicaragua/wp-content/uploads/sites/22/2019/06/marker-icon.png" data-lazy-type="image" data-lazy-src="https://farmavalue.biz/nicaragua/wp-content/uploads/sites/22/2019/06/marker-icon.png" alt="" width="22" height="30">
                </a>
                <a class="list-group-item list-group-item-action d-flex justify-content-between" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">
                    <strong>Esteli</strong>
                    <img loading="lazy" class="lazy alignnone wp-image-228 lazy-loaded" src="https://farmavalue.biz/nicaragua/wp-content/uploads/sites/22/2019/06/marker-icon.png" data-lazy-type="image" data-lazy-src="https://farmavalue.biz/nicaragua/wp-content/uploads/sites/22/2019/06/marker-icon.png" alt="" width="22" height="30">
                </a>
            </div>
        </div>
        <div class="col-8">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                    <p class="ml-2">Tel: 1801-3276
                    <br>Ubicada de Panaderia Morellia 1/2 cuadra al sur, contiguo a Ecami Industrial.
                    <br>Lun-vie: 8am-9pm  Sab-Dom: 8am-7pm

                    <br>Gerente: Ramón Duriez.

                    <br>rduriez@fvalue.biz</p>
                    <img src="https://farmavalue.biz/nicaragua/wp-content/uploads/sites/22/2019/06/Chinandega1.jpg" alt="" width="250px" height="250px">
                </div>
                <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">         
                    <p class="">Tel: 1801-3276
                    <br>Costado Sur Este parque central.
                    <br>Lun-vie: 8am-10pm  Sab-Dom: 8am-8pm

                    <br>Gerente: Marx Ruiz.

                    <br>mruiz@fvalue.biz</p>
                    <img src="https://farmavalue.biz/nicaragua/wp-content/uploads/sites/22/2019/06/Masaya1.jpg" alt="" width="250px" height="250px">
                </div>
                <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
                    <p class="">Tel: 1801-3276
                    <br>Costado Sur Parque La Merced, antiguo local de Don Señor.
                    <br>Lun-vie: 7am-9:30pm  Sab: 8am-9:30pm Dom: 8am-7pm

                    <br>Gerente: Milton Montiel.

                    <br>mmontiel@fvalue.biz</p>
                    <img src="https://farmavalue.biz/nicaragua/wp-content/uploads/sites/22/2019/06/Leon1.jpg" alt="" width="250px" height="250px">
                </div>
                <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">
                    <p class="">Tel: 1801-3276
                    <br>Del supermercado Las Segovias, 2 cuadras al Sur.
                    <br>Lun-vie: 8am-10pm  Sab: 8am-8pm Dom: 8am-7pm

                    <br>Gerente: Emilson Diaz.

                    <br>ediaz@fvalue.biz</p>
                    <img src="https://farmavalue.biz/nicaragua/wp-content/uploads/sites/22/2019/06/Esteli3.jpg" alt="" width="250px" height="250px">
                </div>
            </div>
        </div>
    </div>
}


<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Comentarios</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="div_comment" class="modal-body">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <!--<button type="button" class="btn btn-primary">Save changes</button>-->
      </div>
    </div>
  </div>
</div>
